			body {
				background : White;
				color : Black;
				font-family: Verdana, Arial, Helvetica, Helv;
				font-size: 12px;
				text-decoration: none;
				scrollbar-3dlight-color: rgb(192,192,192);
				scrollbar-arrow-color: black;
				scrollbar-base-color: rgb(255,255,255);
				scrollbar-darkshadow-color: rgb(192,192,192);
				scrollbar-face-color: rgb(255,255,255);
				scrollbar-highlight-color: rgb(255,255,255);
				scrollbar-shadow-color: rgb(255,255,255);
				scrollbar-track-color: white;
			}
			h1 {
				color: #789abc;
				font-family : monospace;
				font-size: 24px;
				/* margin-top: 0px; */
				/* margin-bottom: 0px; */
			}
			h2 {
				color: #789abc;
				font-family : monospace;
				font-size: 20px;
				/* margin-top: 0px; */
				/* margin-bottom: 0px; */
			}
			p {
				font-weight: bold;
			}
			ul {
				list-style: square;
			}
			td {
				font-family: Verdana, Arial, Helvetica, Helv; 
				font-size: 12px; 
				text-decoration: none; 
				color: #483428;
			}
			a:link {
				font-family: Verdana, Arial, Helvetica, Helv; 
				color: #FFA500; 
				text-decoration: none; 
				font-size: 12px; 
				font-weight: bold
			}
			a:hover {
				font-family: Verdana, Arial, Helvetica, Helv; 
				color: #483428; 
				text-decoration: underline; 
				font-size: 12px; 
				font-weight: bold
			}
			a:active {
				font-family: Verdana, Arial, Helvetica, Helv; 
				color: #483428; 
				text-decoration: underline; 
				font-size: 12px; 
				font-weight: bold
			}
			a:visited {
				font-family: Verdana, Arial, Helvetica, Helv; 
				color: #808080; 
				text-decoration: none; 
				font-size: 12px; 
				font-weight: bold
			}